/*======================================================================================================================
$ PUSH
======================================================================================================================*/
.push {
    position:fixed;
    bottom: 0;
    right: 10px;
    z-index: z-index(400);
}

.push .close {
    padding-top: 9px;
}


