/*======================================================================================================================
$ BASE
======================================================================================================================*/
.btn-navigation {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;

    border: 0;
    height: 100%;
    width: $btn-navigation;

    color: $blanc;
    text-align: center; // pour les navigateurs de merde

    background-color: $bleu-500;
}


/*======================================================================================================================
$ MENU MOBILE
======================================================================================================================*/
.btn-navigation.var--menu.var--actif {
    background-color: $bleu-400;
    position: relative;
    border-right: 1px solid $orange-300;

    &:after {
        content: "";
        border-bottom:2px solid $bleu-400;
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
    }
}


/*======================================================================================================================
$ SHOW PLAYER
======================================================================================================================*/
.btn-navigation.var--player i.fa {
    font-size: 30px;
}

.btn-navigation.var--player.var--actif {
    position: relative;
    background-color: $orange-200;
    border-top: 1px solid $orange-300;

    :after {
        content:"";
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $orange-200;
    }

}


/*======================================================================================================================
$ PLAY PAUSE
======================================================================================================================*/
.btn-navigation.var--play-pause {
    position: relative;
    &:before {
        content: "";
        @include pa-centre();
        width: 30px;
        height: 25px;
        border: 1px solid $bleu-300;
    }
}