/*======================================================================================================================
$ CONTENEUR
le header est masquer en large up
======================================================================================================================*/
.lecteur-footer-navigation {
    display: grid;
    grid-template-columns: auto 1fr auto;

    text-align: center;
    align-items: center;
    justify-items: center;

    background-color: $bleu-500;
    border-top: 1px solid $orange-300;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: $hauteur-menu-player;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.lecteur-footer-navigation__contenu {
    text-align: center;
    color: $white;
    height: $hauteur-menu-player;
}