/*======================================================================================================================
$ CONTENEUR
======================================================================================================================*/
$largeur-cover: 280px;

.lecteur {
    display: grid;
    margin: 0 auto;
    padding: 20px 20px $padding-sidebar;

    &.var--playlist-inactif {
        justify-content: space-around;
    }

    @include media-breakpoint-down(md) {
        @include degrade-vertical--orange-bas;
        position: fixed;
        top: $hauteur-menu-mobile;
        bottom: $hauteur-menu-player;
        width: 100%;
        overflow-y: auto;

        text-align: center;
        align-content: start;
    }

    @include media-breakpoint-up(lg) {
        width: $largeur-sidebar;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: space-around;

        &.var--playlist-inactif {
            height: 100vh;
        }

        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            height: $hauteur-lecteur;
            border-bottom: 1px solid rgba($bleu-500, 0.4);
        }
    }
}
/*======================================================================================================================
$ COVER
======================================================================================================================*/
.lecteur__cover {
    position: relative;
    width: $largeur-cover;
    height: $largeur-cover;
    justify-self: center;
}

.lecteur__cover__loader {
    @include cover;
    @include filtre-bleu;
    display: grid;
    justify-content: center;
    align-content: center;
    color: $white;

    .fa-fw {
        font-size: px2rem(50);
        margin-left: 10px; //correction alignement
    }
}

.lecteur__cover__bouton {
    position: absolute;
    bottom: 0;
    right: -15px; // moitié des boutons

    display: flex;
    flex-direction: column;

    background: url('/static/dev/images/fond-bouton-cover-lecteur.png') bottom no-repeat;
    padding: 2px;
}



/*======================================================================================================================
$ CONTENU
======================================================================================================================*/
.lecteur__contenu {
    width: $largeur-cover;
    display: grid;
    row-gap: 15px;
    margin: 0 auto;
}

/*======================================================================================================================
$ CONTROLE
======================================================================================================================*/
.lecteur__controle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*======================================================================================================================
$ FILTRE IMAGE PLAYER EN ATTENTE
======================================================================================================================*/
.lecteur__filtre-bleu {
    @include cover;
    background: rgba($bleu-500, 0.8);
    width: 280px;
}



/*======================================================================================================================
$ BOUTON SUPLEMENTAIRE
======================================================================================================================*/
// bouton s'affiche en small, medium et en large si petite hauteur
.lecteur__bouton-affichage {
    @include media-breakpoint-up(lg) {
        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            display: none !important;
        }
    }
}