/*======================================================================================================================
$ PLAYLIST
======================================================================================================================*/
.playlist {
    padding: 0 $padding-sidebar;

    @include media-breakpoint-down(md) {
        @include degrade-vertical--orange-bas;
        z-index: 2; // pour passer au dessus de .lecteur-footer-navigation
    }
}

/*-----------------------------------------------------------------------------
$ MENU PLAYLIST - retour au player
-----------------------------------------------------------------------------*/
.playlist__menu {

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;

    height: $hauteur-fermer-playlist;

    position: fixed;
    top: $hauteur-menu-mobile;
    border-bottom: 1px solid $bleu-400;
    padding: 0 $padding-sidebar;

    @include media-breakpoint-down(md) {
        left:0;
        right: 0;
    }

    @include media-breakpoint-up(lg) {
        top: 0;
        left: $largeur-menu;
        width: $largeur-sidebar;

        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            display: none;
        }
    }

}




/*-----------------------------------------------------------------------------
$ LISTE DE MORCEAU
-----------------------------------------------------------------------------*/
.playlist__liste {

    @include media-breakpoint-down(md) {
        position: fixed;
        top: $hauteur-menu-mobile + $hauteur-fermer-playlist;
        left:0;
        right: 0;
        bottom: 0;

        overflow-y: scroll;
        overflow-x: hidden;

        padding: 0 $padding-sidebar;
    }

    @include media-breakpoint-up(lg) {
        @media screen and (max-height: $playlist-taille-mini-hauteur-pour-affichage) {
            position: fixed;
            top: $hauteur-fermer-playlist;
            bottom: 0;
            left: $largeur-menu;
            width: $largeur-sidebar;

            overflow-y: scroll;
            overflow-x: hidden;

            padding: 0 $padding-sidebar;

        }
    }
}




/*-----------------------------------------------------------------------------
$ LISTE DE MORCEAU
-----------------------------------------------------------------------------*/
.playlist__controle {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    height: $hauteur-menu-mobile;
    background-color: red;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}
/*======================================================================================================================
$ DISPOSITION
======================================================================================================================*/
.playlist__grille {
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
    padding: $espacement-standard--petit ($grid-gutter-width / 2);
    display: grid;
    grid-template-columns: 30px 1fr auto;
}

/*======================================================================================================================
$ SAISON
======================================================================================================================*/
.playlist__saison {
    background-color: $orange-300;
    color: $bleu-500;
    font-size: 16px;
}

/*======================================================================================================================
$ MORCEAU
======================================================================================================================*/
/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.playlist__morceau {
    border-bottom: 1px solid rgba($bleu-500, 0.4);
    color: $bleu-500;

    @include media-breakpoint-down(sm) {
        &:first-child {
            border-top: 1px solid rgba($bleu-500, 0.4);
        }
    }

    @include media-breakpoint-down(md) {
        &:last-child {
            border-bottom-color: transparent;
        }
    }

    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid rgba($rouge-300, 0.2);
    }
}


/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.playlist__morceau.actif {
    background-color: $actif;
    color: $blanc;
}