/*======================================================================================================================
$ BASE BOUTON ROND
======================================================================================================================*/
@mixin btn-lecteur($largeur) {
    width: $largeur;
    height: $largeur;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: px2rem(14);
}