/*======================================================================================================================
$ SURCHARGE
======================================================================================================================*/
.alert-primary {
    background-color: $primary;
    border-color: $orange-300;
    color: $bleu-500;

    .close {
        color: $bleu-500;
        opacity: 1;
    }
}
