/*======================================================================================================================
$ LISTE DE CARTE
======================================================================================================================*/

.list-card {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax($largeur-card, 1fr));
    grid-gap: $list-card-gap;

    // Deux cartes par ligne
    @media screen and (max-width: $deux-cartes-moyenne-par-ligne) {
        grid-template-columns: repeat(auto-fill,$largeur-card);
        justify-content: space-around;
    }

    // Deux carte 50% par ligne
    @include deux-cartes-50pct-par-ligne {
        grid-template-columns: 1fr 1fr;
        grid-gap: $list-card-gap;
    }

    // Un carte par ligne
    @include deux-cartes-petite-par-ligne {
        grid-template-columns: 1fr;
        grid-gap: $list-card-gap $list-card-gap-sm;
    }

}

.list-card .card {
    width: $largeur-card;
    z-index: z-index(0);

    @include deux-cartes-50pct-par-ligne {
        width: 100%;
    }
}

.list-card-horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax($largeur-card-horizontal, 1fr));
    grid-gap: 10px;

    .card.var--horizontal {
        width: $largeur-card-horizontal;
    }
}



/*======================================================================================================================
$ CUSTOMISATION CARD
======================================================================================================================*/
$color-card: $bleu-100;

.card {
    border-color: $color-card;
    position: relative;
}

.card.var--survol {
    @include survol(){
        border-color: $bleu-300;
    }
}



/*======================================================================================================================
$ CONTENEUR à cover
======================================================================================================================*/
.card-cover {
    position: relative;
    height: $largeur-card;
    background-color: $color-card;

    display: grid;
    justify-items: center;
    align-items: center;

    @include deux-cartes-50pct-par-ligne {
        height: $largeur-card-sm;
    }
}



/*======================================================================================================================
$ BOUTON
======================================================================================================================*/
.card-button {
    position: absolute;
    top: $espacement-standard--petit;
    left: 0;
    right: 0;
    padding: 0 8px 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    color: $bleu-350;
    z-index: z-index(1);
}

.card-button .fa {
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow 0.2s;

    @include survol(){
        box-shadow: 0 0 0 2px $bleu-100, 0 0 0 3px $rouge-300;
    }
}




/*======================================================================================================================
$ CARTE HORIZONTAL
======================================================================================================================*/
.card.var--horizontal {
    display: grid;
    grid-template-columns: $largeur-conteneur-cover 1fr;
    align-items: center;

    .card-body {
        padding: 5px 20px 5px 10px;
    }

    .card-button {
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-content: space-between;
        padding: 10px 5px 10px 0;
    }

    .card-cover {
        height: 100%;
        min-height: 100px;
        width: $largeur-conteneur-cover;
    }
}
