/*======================================================================================================================
$ COEUR ROUGE quand ACTIF
======================================================================================================================*/
.fa-heart.var--actif {
    color: $actif;
}


/*======================================================================================================================
$ RESET DES BOUTON avec class .fa
======================================================================================================================*/
button.fa {
    background: transparent;
    border: 0;
    color: inherit;
    padding: 0;
}










